<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a routerLink="">
        <img src="../assets/image/3.jpg" alt="logo">

      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="ประชาสัมพันธ์" nzIcon="pic-left">

        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="show-all-news">ข่าวสาร</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="show-all-promotion">โปรโมชั่น</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="บริการ" nzIcon="appstore">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="show-all-service"> บริการทั้งหมด</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="ช่าง" nzIcon="solution">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a  routerLink="show-all-barber">ช่างทั้งหมด</a>
          </li>
        </ul>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>วันหยุดช่าง</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="สาขา" nzIcon="bank">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="show-all-branch">สาขาทั้งหมด</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="คิว" nzIcon="schedule">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>ตารางคิว</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="เข้าสู่ระบบ" nzIcon="login">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>เข้าสู่ระบบ</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="{{username}}" nzIcon="user">
        <ul>
          <li nz-submenu nzTitle="จัดการคิว" nzIcon="reconciliation">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>จองคิว</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>อนุมัติคิว</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>ยืนยันการมาใช้บริการ</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>บันทึกเวลาเริ่ม</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>บันทึกเวลาสิ้นสุด</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>ชำระบริการ</a>
              </li>
            </ul>

          </li>
        </ul>


        <ul>
          <li nz-submenu nzTitle="จัดการสมาชิก" nzIcon="team">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>การเข้างาน</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>การลา</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>จัดทำรายจ่าย</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a routerLink="add-user">เพิ่มสมาชิกลูกค้า</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>เพิ่มสมาชิกผู้จัดการสาขา</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>เพิ่มสมาชิกช่างซอย</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>เพิ่มสมาชิกช่างสระไดร์</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>จัดการสมาชิก</a>
              </li>
            </ul>

          </li>
        </ul>


        <ul>
          <li nz-submenu nzTitle="ตั้งค่า" nzIcon="setting">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>เวลาเข้างาน</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>เงินประกันสังคม</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>เงินประกันร้าน</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>วันหยุด/การลา</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>จำนวนได้รับสิทธิ</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>เงินเดือน/เปอร์เซ็น</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul>
          <li nz-submenu nzTitle="รายงาน" nzIcon="area-chart">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>สรุปการยกเลิกบริการ</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>สรุปเวลาเเละงานช่าง</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>สรุปรายรับเเต่หละสาขา</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>สรุปเงินเดือนช่าง</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>สรุปเข้างาน</a>
              </li>
            </ul>

            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>สรุปการเปลี่ยนช่าง</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>ความพึ่งพอใจ</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>ติดต่อสอบถาม</a>
              </li>
            </ul>
          </li>
        </ul>

        <ul>
          <li nz-submenu nzTitle="โปรไฟล์" nzIcon="profile">
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>โปรไฟล์ส่วนตัว</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>สถานะการจองคิว</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>ประวัติการใช้บริการ</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>คิวงาน</a>
              </li>
            </ul>
            <ul>
              <li nz-menu-item nzMatchRouter>
                <a>ออกจากระบบ</a>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>