<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
 <h1 nz-title>สมัครสมาชิก:ลูกค้า</h1>
 <!-- ฟอร์มสมัครสมาชิก ต้นฉบับ -->
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">ชื่อ:</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" >
          <input nz-input formControlName="name" name="name"  />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="lastname">นามสกุล:</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" >
            <input nz-input formControlName="lastname" name="lastname" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="gender">เพศ:</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24" >
              <nz-radio-group [(ngModel)]="radioValue">
            <label nz-radio nzValue="A">ชาย</label>
            <label nz-radio nzValue="B">หญิง</label>
          </nz-radio-group>
           </nz-form-control>
          </nz-form-item>
          
          <nz-form-item>
              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="date of birth">วันเดือนปีเกิด:</nz-form-label>
              <nz-form-control [nzSm]="14" [nzXs]="24"  >
               <nz-date-picker name=""></nz-date-picker>
              </nz-form-control>
            </nz-form-item>

              <nz-form-item>
                  <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
                  <nz-form-control
                    [nzSm]="14"
                    [nzXs]="24"
                    [nzValidateStatus]="validateForm.controls['phoneNumber']"
                    nzErrorTip="Please input your phone number!"
                  >
                    <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                      <ng-template #addOnBeforeTemplate>
                        <nz-select formControlName="phoneNumberPrefix" class="phone-select">
                          <nz-option nzLabel="+86" nzValue="+86"></nz-option>
                          <nz-option nzLabel="+87" nzValue="+87"></nz-option>
                        </nz-select>
                      </ng-template>
                      <input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="๊User">ชื่อผู้ใช้:</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" >
                      <input nz-input formControlName="๊User" id="๊User" />
                    </nz-form-control>
                  </nz-form-item>

                  <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="password" nzRequired>Password</nz-form-label>
                      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
                        <input
                          nz-input
                          type="password"
                          id="password"
                          formControlName="password"
                          (ngModelChange)="updateConfirmValidator()"
                        />
                      </nz-form-control>
                    </nz-form-item>
          
                  <nz-form-item>
                      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
                      <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
                        <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
                        <ng-template #errorTpl let-control>
                          <ng-container *ngIf="control.hasError('required')">
                            Please confirm your password!
                          </ng-container>
                          <ng-container *ngIf="control.hasError('confirm')">
                            Two passwords that you enter is inconsistent!
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
                          <input nz-input formControlName="email" id="email" />
                        </nz-form-control>
                      </nz-form-item>

                      <nz-form-item>
                          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="๊address">บ้านเลขที่</nz-form-label>
                          <nz-form-control [nzSm]="14" [nzXs]="24" >
                            <input nz-input formControlName="address" id="address" />
                          </nz-form-control>
                        </nz-form-item>

                        <nz-form-item>
                            <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="๊Subdistrict">แขวง/ตำบล</nz-form-label>
                            <nz-form-control [nzSm]="14" [nzXs]="24"  >
                              <input nz-input formControlName="Subdistrict" id="Subdistrict" />
                            </nz-form-control>
                          </nz-form-item>

                          <nz-form-item>
                              <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="๊District">อำเภอ</nz-form-label>
                              <nz-form-control [nzSm]="14" [nzXs]="24" >
                                <input nz-input formControlName="District" id="District" />
                              </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="๊Province">จังหวัด</nz-form-label>
                                <nz-form-control [nzSm]="14" [nzXs]="24" >
                                  <input nz-input formControlName="Province" id="Province" />
                                </nz-form-control>
                              </nz-form-item>

                              <nz-form-item>
                                  <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="๊Zip code">รหัสไปรษณีย์</nz-form-label>
                                  <nz-form-control [nzSm]="14" [nzXs]="24" >
                                    <input nz-input formControlName="Zip code" id="Zip code" />
                                  </nz-form-control>
                                </nz-form-item>

                                <nz-form-item>
                                    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="๊Zip code"></nz-form-label>
                                    <nz-form-control [nzSm]="14" [nzXs]="24" >
                                        <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/">
                                          <button nz-button><i nz-icon nzType="upload"></i><span>Click to Upload</span></button>
                                        </nz-upload>
                                    </nz-form-control>
                                  </nz-form-item>

                                <nz-form-item nz-row class="register-area">
                                    <nz-form-control [nzSpan]="14" [nzOffset]="6">
                                      <button nz-button nzType="primary">Register</button>
                                    </nz-form-control>
                                  </nz-form-item>
                                  
  </form>