
<div nz-row nzType="flex" nzJustify="end">
  <div nz-col nzSpan="2">
    <button nz-button nzType="primary" (click)="open()">เพิ่มบริการ</button>
    <nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
      [nzMaskClosable]="false" [nzWidth]="720" [nzVisible]="visible" nzTitle="เพิ่มบริการ" (nzOnClose)="close()">
      <form nz-form>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="9">
            <nz-form-item>
              <nz-form-label>อัพรูปภาพ</nz-form-label>
              <nz-form-control>
                <div class="clearfix">
                    <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" nzListType="picture" [(nzFileList)]="fileList1">
                      <button nz-button><i nz-icon nzType="upload"></i><span>Upload</span></button>
                    </nz-upload>
                  </div>
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12"> -->
            <nz-form-item>
              <br>
              <br>
              <nz-form-control>
                  <nz-form-label>คำอธิบายรูปภาพ</nz-form-label>
              </nz-form-control>
            </nz-form-item> -->

          </div>
        </div>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>ชื่อบริการ</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="กรุณาใส่ชื่อบริการ" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>ประเภท</nz-form-label>
              <nz-form-control>
                <nz-select nzPlaceHolder="เลือกประเภทบริการ"></nz-select>
              </nz-form-control>
            </nz-form-item>

          </div>
        </div>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>เวลาในการทำ</nz-form-label>
              <nz-form-control>
                <input nz-input placeholder="กรุณาใส่เวลาในการทำ" />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>Approver</nz-form-label>
                <nz-form-control>
                  <nz-select nzPlaceHolder="Please choose the approver"></nz-select>
                </nz-form-control>
              </nz-form-item>
              <span><img src="R-blue.svg"></span>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>DateTime</nz-form-label>
                <nz-form-control>
                  <nz-range-picker></nz-range-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="12">
            <nz-form-item>
              <nz-form-label>ช่างผู้ให้บริการ</nz-form-label>
              <nz-form-control>
                <label nz-checkbox [(ngModel)]="checked">เฉพาะช่างซอย</label>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div nz-row nzGutter="8">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <nz-form-label>Description</nz-form-label>
              <nz-form-control>
                <textarea nz-input placeholder="please enter url description"
                  [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </form>
      <div class="footer">
        <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>ยกเลิก</span></button>
        <button type="button" (click)="close()" class="ant-btn ant-btn-primary"><span>ยืนยัน</span></button>
      </div>
    </nz-drawer>
  </div>
  
  
    
















